* {
  margin: 0;
  padding: auto;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(33, 32, 32);
}

.card {
  width: 90%;
  max-width: 470px;
  color: "#FFFFFF";
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
  background: linear-gradient(135deg, #00feba, #5b648a);
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  border: 0;
  outline: 0;
  background-color: #ebfffc;
  color: #555;
  padding: 10px 25px;
  border-radius: 30px;
  font-size: 18px;
  flex: 1;
  height: 60px;
}

.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 50%;
  margin-left: 10px;
}

.search button img {
  width: 46px;
}

.weather {
  width: 100%;
  color: #ebfffc;
}

.weather-icon {
  width: 200px;
}

.city {
  font-size: 70px;
  font-weight: 500;
}

.temperature {
  font-size: 30px;
}

.details {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.col p {
  font-size: 20px;
  font-weight: bold;
}

.col img {
  width: 50px;
}
