* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100%;
  padding: 10px;
}

.todoCard {
  width: 100%;
  max-width: 540px;
  margin: 80px auto 20px;
  background: linear-gradient(rgb(138, 123, 123), rgb(76, 76, 161));
  padding: 40px 30px 70px;
  border-radius: 10px;
}

.todoCard h2 {
  color: white;
  margin: 0px 0 15px 0;
}

.todoInput {
  width: 70%;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
  font-weight: bolder;
}

button {
  width: 20%;
  padding: 10px;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 15px;
  font-weight: bolder;
  background: linear-gradient(rgb(138, 123, 123), rgb(76, 76, 161));
}

.todoList li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 2px 50px;
  cursor: pointer;
  position: relative;
  user-select: none;
}

.todoList li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  top: 8px;
  left: 10px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-image: url(image/icons8-unchecked-checkbox-50.png);
}


